@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria: #0b3d91;
    --cor-secundaria: #2c5364;
    --cor-terciaria: #0f2027;
    --cor-quarternaria: #3b82f6;
    --cor-fundo-secao: #e5e7eb; 
    --cor-fundo-texto: #EFF5FF;
    --cor-branco: #fff;
    --cor-preto: #111;
    --font-primaria: 'montserrat';
    --font-secundaria: 'poppins';
    --font-terciaria: 'lora';
}

*{
    margin: 0;
    padding: 0;
}

main {
    padding: 0 8%; 
}

a {
    text-decoration: none;
}



/* header */
.cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-primaria);
    text-align: center;
    padding: 25px 0;
}

.nome_empresa {
    font-size: 30px;
}

.cabecalho_menu {
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 20px;
}

.cabecalho_menu_link {
    gap: 50px;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    flex-wrap: nowrap;
    color: #fff;
}
/* header */
/* main */


.secao_contato {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.secao_contato_texto {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.titulo_contato {
    font-size: 36px;
    color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--font-primaria);
    
}

.paragrafo_contato {
    text-align:center;
    padding: 0 80px;
    font-size: 28px;
    padding-bottom: 50px;
    font-family: var(--font-terciaria);
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario label {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--font-secundaria);

}

.formulario input,
.formulario textarea {
    margin-bottom: 30px;
    padding: 12px;
    border: 2px solid var(--cor-preto);
    border-radius: 8px;
    font-size: 16px;
}

.botao_cadastro {
    margin: 20px 0;
    width: fit-content;
    padding: 20px 60px;
    background-color: var(--cor-secundaria);
    color: var(--cor-branco);
    border-radius: 8px;
    font-size: 20px;
}



/* efeitos */
.formulario input:focus,
.formulario textarea:focus {
    background-color: var(--cor-fundo-texto);
}

.botao_cadastro:hover {
    background-color: var(--cor-quarternaria);
}

/* efeitos */

/* main */
/* footer */
.rodape {
    text-align: center;
    background-color: var(--cor-primaria);
    padding: 15px 0;
    font-size: 16px;
    color: var(--cor-branco);
    font-family: var(--font-terciaria);
}
/* footer */