@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria: #0b3d91;
    --cor-secundaria: #2c5364;
    --cor-terciaria: #0f2027;
    --cor-quarternaria: #3b82f6;
    --cor-fundo-secao: #e5e7eb; 
    --cor-fundo-texto: #EFF5FF;
    --cor-branco: #fff;
    --cor-preto: #111;
    --cor-cinza: #808080;
    --font-primaria: 'montserrat';
    --font-secundaria: 'poppins';
    --font-terciaria: 'lora';
}

*{
    margin: 0;
    padding: 0;
}

main{
    padding: 0 8%; 
}

a {
    text-decoration: none;
}

/* header */
.cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-primaria);
    text-align: center;
    padding: 25px 0;

}

.nome_empresa {
    font-size: 30px;
    font-family: var(--font-primaria);
    font-weight: 600px;
}

.cabecalho_menu {
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 20px;

}

.cabecalho_menu_link {
    gap: 50px;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    flex-wrap: nowrap;
    color: #fff;
    font-family: var(--font-secundaria);
}

.navegacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor-primaria);
    padding: 10px;
    border-top: 1px solid ;
}

.navegacao_opcao {
    color: var(--cor-branco);
    font-family: var(--font-secundaria);
}

.navegacao_opcao:hover {
    color: var(--cor-secundaria);
    background-color: var(--cor-quarternaria);
    padding: 5px;
    border-radius: 12px;
}



/* header */
/* main */


/* principal */
.secao {
    margin: 64px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--cor-fundo-secao);
    border-radius: 20px;
    padding: 0 10% 1%;
}

.texto-secao {
    display: flex;
    flex-direction: column;
    
}

.titulo_secao {
    font-size: 36px;
    color: var(--cor-primaria);
    text-align: center;
    padding-bottom: 20px;
    font-family: var(--font-primaria);
}

.paragrafo_secao {  
    font-size: 18px;
    color: var(--cor-preto);
    background-color: var(--cor-fundo-texto);
    border-left: 4px solid var(--cor-quarternaria);
    border-radius: 8px;
    text-align: center;
    padding: 16px;
    font-family: var(--font-terciaria);
}

.paragrafos_multiplos_secao {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.imagem_secao {
    display: flex;
    justify-content: center;
    padding: 3%;
}

.imagem_secao_detalhes {
    border-radius: 12px;
    width: 300px;
    border: 3px solid var(--cor-branco);
}



/* slideshow */
.secao_slideshow {
  border: 20px solid var(--cor-terciaria);
  border-radius: 50px;
  margin: 150px 0;
  height: 400px;
  display: flex;
  background-color: var(--cor-fundo-secao);
}

.slideshow {
  position: relative;
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.texto_slideshow {
    text-align: center;
    font-family: var(--font-secundaria);
    color: var(--cor-primaria);
    font-size: 28px;
}

.img_slideshow {
  display: none;
}

.img_slideshow img {
  border: 4px solid var(--cor-terciaria);
  width: 100%;
  border-radius: 10px;
}

.visual_slideshow {
    position: relative;
}

.anterior, .proximo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--cor-branco);
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(0,0,0,0.5);
}

.anterior {
  left: 10px;
}

.proximo {
  right: 10px;
}



/* Quiz */
.secao_quiz {
    background-color: var(--cor-terciaria);
    border-radius: 12px;
    color: var(--cor-branco);
    padding: 10%;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao_quiz h2 {
    text-align: center;
    /* padding: 0% 10% 3% 10%; */
    padding-bottom: 3%;
    font-family: var(--font-primaria);
    font-size: 28px;
}

.quiz_conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.quiz_conteudo-oculto {
    display: none;
}

.quiz_conteudo h4 {
    font-size: 14px;
    text-align: center;
    color: var(--cor-cinza);
    font-family: var(--font-terciaria);
}

.pergunta_quiz {
    font-size: 20px;
    font-family: var(--font-secundaria);
    text-align: center;
    padding: 5% 10% 2% 10%;
}

.alternativas_quiz {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 75%;
}

.opcao_quiz {
    background-color: var(--cor-terciaria);
    color: var(--cor-branco);
    font-size: 14x;
    border-radius: 8px;
    border: 3px solid var(--cor-cinza);
    font-family: var(--font-terciaria);
    padding: 1.5%;
}
.opcao_quiz:hover,
.opcao_quiz:focus {
    background-color: lightgray; 
    transform: scale(1.05);
    color: var(--cor-preto);
}
.opcao_quiz-correto {
    font-size: 16px;
    font-family: var(--font-terciaria);
    font-weight: 600;
    background-color: green;
    border: 3px solid green;
    color: var(--cor-branco);
    padding: 1.5%;
    border-radius: 12px;
    cursor: pointer;
}
.opcao_quiz-errado {
    font-size: 16px;
    font-family: var(--font-terciaria);
    font-weight: 600;
    background-color: red;
    border: 3px solid red;
    color: var(--cor-branco);
    padding: 1.5%;
    border-radius: 12px;
    cursor: pointer;
}

.btn_quiz {
    font-size: 18px;
    font-family: var(--font-secundaria);
    font-weight: 600;
    background-color: var(--cor-secundaria);
    color: var(--cor-branco);
    padding: 2%;
    border-radius: 12px;
    margin: 20px 0 0 0;
    cursor: pointer;
}
.btn_quiz:hover {
    transform: scale(1.1);
}

.btn_quiz-desabilitado {
    font-size: 18px;
    font-family: var(--font-secundaria);
    font-weight: 600;
    background-color: #6f6f70;
    color: var(--cor-branco);
    padding: 2%;
    border-radius: 12px;
    margin: 20px 0 0 0;
    cursor: not-allowed;
    width: fit-content;
    border: none;
}

.quiz_qtd_acertos-desabilitado {
    font-size: 24px;
    margin-top: 20px;
    display: none
}
.quiz_qtd_acertos {
    font-size: 24px;
    margin-top: 20px;
}


/* contato */
.secao_contato {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 0;
    border: 3px solid var(--cor-cinza);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
    padding: 0 5%;
    background-color: lightgray;
}

.secao_contato_texto {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.titulo_contato {
    font-size: 34px;
    color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--font-primaria);
    margin-top: 40px;
}

.paragrafo_contato {
    text-align:center;
    padding: 0 80px;
    font-size: 20px;
    padding-bottom: 50px;
    font-family: var(--font-terciaria);
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario label {
    font-size: 22px;
    font-weight: 600;
    font-family: var(--font-secundaria);

}

.formulario input,
.formulario textarea {
    margin-bottom: 30px;
    padding: 12px;
    border: 2px solid var(--cor-preto);
    border-radius: 8px;
    font-size: 16px;
}
.formulario input:focus,
.formulario textarea:focus {
    background-color: var(--cor-fundo-texto);
}
.formulario div {
    display: flex;
    justify-content: center;

}

.botao_cadastro {
    margin: 20px 0;
    width: fit-content;
    padding: 20px 60px;
    background-color: var(--cor-secundaria);
    color: var(--cor-branco);
    border-radius: 8px;
    font-size: 20px;
}
.botao_cadastro:hover {
    background-color: var(--cor-quarternaria);
}



/* main */
/* footer */
.rodape {
    text-align: center;
    background-color: var(--cor-primaria);
    padding: 15px 0;
    font-size: 16px;
    color: var(--cor-branco);
    font-family: var(--font-terciaria);
}
/* footer */
