@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria: #0b3d91;
    --cor-secundaria: #2c5364;
    --cor-terciaria: #0f2027;
    --cor-quarternaria: #3b82f6;
    --cor-fundo-secao: #e5e7eb; 
    --cor-fundo-texto: #EFF5FF;
    --cor-branco: #fff;
    --cor-preto: #111;
    --font-primaria: 'montserrat';
    --font-secundaria: 'poppins';
    --font-terciaria: 'lora';
}

*{
    margin: 0;
    padding: 0;
}

main{
    padding: 0 8%; 
}

a {
    text-decoration: none;
}

/* header */
.cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-primaria);
    text-align: center;
    padding: 25px 0;

}

.nome_empresa {
    font-size: 30px;
    font-family: var(--font-primaria);
    font-weight: 600px;
}

.cabecalho_menu {
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 20px;

}

.cabecalho_menu_link {
    gap: 50px;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    flex-wrap: nowrap;
    color: #fff;
    font-family: var(--font-secundaria);
}

.navegacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor-primaria);
    padding: 10px;
    border-top: 1px solid ;
}

.navegacao_opcao {
    color: var(--cor-branco);
    font-family: var(--font-secundaria);
}

.navegacao_opcao:hover {
    color: var(--cor-secundaria);
    background-color: var(--cor-quarternaria);
    padding: 5px;
    border-radius: 12px;
}



/* header */
/* main */



.secao {
    margin: 64px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--cor-fundo-secao);
    border-radius: 20px;
    padding: 0 10% 1%;
}

.texto-secao {
    display: flex;
    flex-direction: column;
    
}

.titulo_secao {
    font-size: 36px;
    color: var(--cor-primaria);
    text-align: center;
    padding-bottom: 20px;
    font-family: var(--font-primaria);
}

.paragrafo_secao {  
    font-size: 18px;
    color: var(--cor-preto);
    background-color: var(--cor-fundo-texto);
    border-left: 4px solid var(--cor-quarternaria);
    border-radius: 8px;
    text-align: center;
    padding: 16px;
    font-family: var(--font-terciaria);
}

.paragrafos_multiplos_secao {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.imagem_secao {
    display: flex;
    justify-content: center;
    padding: 3%;
}

.imagem_secao_detalhes {
    border-radius: 12px;
    width: 300px;
    border: 3px solid var(--cor-branco);
}



/* main */
/* footer */
.rodape {
    text-align: center;
    background-color: var(--cor-primaria);
    padding: 15px 0;
    font-size: 16px;
    color: var(--cor-branco);
    font-family: var(--font-terciaria);
}
/* footer */
