:root {
    --cor-primaria: #0b3d91;
    --cor-secundaria: #2c5364;
    --cor-terciaria: #0f2027;
    --cor-branco: #fff;
    --cor-preto: #111;
}

*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-primaria);
    text-align: center;
    padding: 15px 0;

}

.nome_empresa {
    font-size: 30px;
}

.cabecalho_menu {
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 20px;

}

.cabecalho_menu_link {
    gap: 50px;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    flex-wrap: nowrap;
    color: #fff;
}

.rodape {
    text-align: center;
    background-color: var(--cor-primaria);
}